<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>계산기 덧셈 인공지능</h1>
    <form action="/plus" method="post">
        <input type="text"  id="num1" placeholder="첫번째 수" name="num1">
        <span> + </span>
        <input type="text" id="num2" placeholder="두번째 수" name="num2">
        <button type="submit" id="plus">결과보기</button>
    </form>
    <a href="/home"><h3>home</h3></a>






</body>
</html>