<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>계산기 인공지능</h1>
 
    <a href="/calc"><h3>계산기</h3></a>

    <a href="/discount"><h3>할인금액</h3></a>

    <a href="/gugudan"><h3>구구단</h3></a>

    <h1>재무 분석 및 보고 챗봇 개발</h1>
    <a href="/finance_visualizer"><h3>금융서비스 기업의 재무 데이터 시각화 도구 및 대시 보드</h3></a>
    <a href="/report_review"><h3>제조업체의 재무 보고서 검토검토 및 승인 시스템</h3></a>
    <a href="/retail_analysis"><h3>소매업체의 재무 분석 및 보고 챗봇</h3></a>

    <h1>ESG 데이터 자동 분석 플랫폼 구축</h1>
    <a href="/energy_data_collector"><h3>에너지 산업의 ESG 데이터 수집 및 저장 시스템</h3></a>
    <a href="/esg_analysis_tool"><h3>금융서비스 기업의 ESG 데이터 분석 및 시각화 플렛폼</h3></a>
    <a href="/report_generator"><h3>제조업체의 ESG 자동화된 리포트 생성 시스템</h3></a>
    
   
    <h1>ESG 데이터 기반 재무영향 자동화 시스템 개발</h1>
    <a href="/construction_report_generator"><h3>건설업의 자동 재무 보고서 생성 시스템</h3></a>
    <a href="/healthcare_chatbot_backend"><h3>헬스케어 산업의 재무 질문 응답 챗봇 및 프론트엔드 개발</h3></a>
    <a href="/retail_data_collector"><h3>대형 소매업의 재무 데이터 수집 및 분석 자동화 시스템 </h3></a>
    

    <a href="/"><h3>logout</h3></a>
    
</body>
</html>